body{
    background-color: #CAF7E3;
    margin: 0;
    text-align: center;
}
.nav{
    background-color: #343A40;
    height: 40px;
    width:100%;
    padding-top:15px;
    position: fixed;
    z-index: 1;
}
ul{
    margin: 0;
}
li{
    color: white;
    display: inline;
    margin: 15px;
    font-size: large;
    position: relative;
    bottom: 10px;
}
.nav img{
    height: 30px;
    width: 30px;
    position: relative;
    top:1px;
    bottom: 10px;
    margin-left:60%;
}
.intro{
    height:720px;
    width:100%;
    padding-top: 70px;
}
.skills{
    height: 600px;
    width:700px;
    margin:0 auto;
}
.hobbies{
    height: 400px;
    width:700px;
    margin:0 auto;
    padding: 20px 0;
}
h1{
    margin:0 auto;
    width: 6em;
    font-size: 5.625rem;
    font-family: 'Oswald', sans-serif;
}
h2{
    margin:0 auto;
    width: 6em;
    font-size: 3.625rem;
    font-family: 'Oswald', sans-serif;
}
p{
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
    color: white;
}
.intro p{
    width:25%;
    margin: 0 auto;
    line-height: 2;
}
.programming-img{
    width:30%;
    margin-top:30px;
}
span{
    text-decoration: underline;
}
.python-img{
    height:150px;
    position: relative;
    bottom: 20px;
    float:left;
    padding-right: 20px;
}
.java-img{
    height:150px;
    position: relative;
    bottom: 20px;
    float:left;
    padding-right: 20px;
}
.spring-img{
    height:150px;
    position: relative;
    bottom: 20px;
    float:left;
    padding-right: 20px;
}
.skills p{
    text-align: left;
    height: 160px;
    line-height: 2;
}
.cricket-img{
    height:150px;
    position: relative;
    bottom: 20px;
    float:right;
    padding-left: 20px;
}
.hobbies p{
    text-align: left;
    height: 160px;
    line-height: 2;
}
.music-img{
    height:150px;
    position: relative;
    bottom: 20px;
    float:right;
    padding-left: 20px;
}
.aboutme{
    background-color: whitesmoke;
    height: 1050px;
    padding-top: 70px;
}
.contactme{
    height: 350px;
}
input{
    margin-left: 30px;
}
textarea{
    max-width: 300px;
    max-height:100px
}
label{
    font-size: 1.25rem;
    font-family: 'Montserrat', sans-serif;
}
.btn {
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    background: #343A40;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #343A40;
    text-decoration: none;
  }
  .grid-container{
      display: grid;
      height:80vh;
      background-color: whitesmoke;
      justify-content: center;
      align-content: center;
      grid-template-columns: 200px 200px 200px 200px;
      grid-auto-rows: 150px;
      grid-template-rows: 150px 150px 150px;
      grid-gap: 7px;
  }
  .grid-item{
      background-color: yellowgreen;
  }
  .grid-item1{
      grid-row:1/3;
  }
.grid-item3{
    grid-column: 3/5;
}
.grid-item6{
    grid-row: 2/4;
    grid-column:4/5;
}.grid-item7{
    grid-column:1/3;
}
.footer{
    background-color: whitesmoke;
    height: 100%;
    width:100%;
}
.footer img{
    height: 30px;
    width: 30px;
    margin: 10px 50px;
}